<div class="divContainer">
  <app-navbar></app-navbar>
  <div class="container card">
    <label class="form-label"> {{ titulo }} </label>
    <form class="row g-3" [formGroup]="equipoForm" (ngSubmit)="save()">
      <div class="col-md-4 divIn">
        <label class="form-label sub" for="marca">Marca</label>
        <input
          type="text"
          autocomplete="off"
          class="form-control"
          placeholder="Marca"
          name="fecha"
          required
          formControlName="marca"
        />
      </div>

      <div class="col-md-4 divIn">
        <label class="form-label sub" for="modelo">Modelo</label>
        <input
          type="text"
          autocomplete="off"
          class="form-control"
          placeholder="Modelo"
          name="modelo"
          required
          formControlName="modelo"
        />
      </div>

      <div class="col-md-4 divIn">
        <label class="form-label sub" for="modelo">Fecha recibido</label>
        <br />
        <input
          [readonly]="isClicked"
          type="date"
          class="form-control"
          name="fecha_recibido"
          formControlName="fecha_recibido"
        />
        <input type="checkbox"  checked (click)="bloquear()" />
        <label class="form-label sub" for="fecha_recibido">Hoy</label>
      </div>

      <div class="col-md-4 divIn">
        <label class="form-label sub" for="costo">Costo</label>
        <input
          type="text"
          autocomplete="off"
          class="form-control"
          placeholder="$0.0"
          name="costo"
          required
          formControlName="costo_reparacion"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label sub" for="modelo">Cliente</label>
        <select class="form-control" formControlName="cliente">
          <option *ngFor="let cli of clientes" [ngValue]="cli">
            {{cli.nombre}}
          </option>
        </select>
      </div>

      <div class="col-md-4 divInDetalle">
        <label class="form-label sub" for="detalle">Detalle</label>
        <input
          type="text"
          autocomplete="off"
          class="form-control"
          placeholder="Falla en centro de carga"
          name="detalle"
          required
          formControlName="detalle_problema"
        />
      </div>

      <!--
      <div class="col-md-4 divIn">
        <fieldset>
          <legend>Entregado</legend>
          <label class="booleanBtn">
            <input
              class="form-control "
              type="radio"
              name="entregado"
              value="true"
              formControlName="entregado"
            />Si
          </label>
          <label class="booleanBtn">
            <input
              class="form-control"
              type="radio"
              name="entregado"
              value="false"
              formControlName="entregado"
            />No
          </label>
        </fieldset>
      </div>
      <div class="col-md-4 divIn100">
        <fieldset>
          <legend>Reparado</legend>
          <label class="booleanBtn">
            <input
              class="form-control"
              type="radio"
              name="reparado"
              value="true"
              formControlName="reparado"
            />Si
          </label>
          <label class="booleanBtn">
            <input
              class="form-control"
              type="radio"
              name="reparado"
              value="false"
              formControlName="reparado"
            />No
          </label>
        </fieldset>
      </div>
    -->
      <div class="col-12">
        <button type="submit" class="btn btn-dark btnGuardar">Guardar</button>
      </div>
    </form>
  </div>
</div>
