<div class="row">
  <h5 class="card-title text-center">{{ titulo }}</h5>
  <form class="mt-4" [formGroup]="userForm" (ngSubmit)="saveOrUpdate()">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Nombre(s)"
              formControlName="nombre"
            />
            <input
              type="text"
              class="form-control"
              placeholder="Apellido(s)"
              formControlName="apellido"
            />
            <input
              type="number"
              class="form-control"
              placeholder="Número de teléfono"
              formControlName="telefono"
            />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
