<div>
  <app-navbar></app-navbar>
  <div class="container divContainer divColumnaDoble registrosListados">
    <div class="aTitulo">
      <a class="navbar-brand aTextTitulo">
        <img src="assets\img\clientes.png" width="105" height="75" />
        {{ titulo }}
      </a>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Modelo</th>
        </tr>
      </thead>

      <tbody class="table-group-divider">

        <tr *ngFor="let c of clientes">
          <td>{{ c.nombre + " " + c.apellido }}</td>
          <td>{{ c.telefono }}</td>
          <td>
            <i class="fa-solid fa-square-info">I</i>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn buttonAnadir" routerLink="/agregar-cliente">Nuevo</button>
  </div>
</div>
