.divContainer{
    padding-top: 5%;
    padding-top: 5%;
    width: 60%;
    margin: 0 auto;
}

.h2Ti{
    margin-top: 2em;
    text-align:center;
}
.ibotton{
    padding-left: 20%;
}

.buttonAnadir {
    background-color: #000000;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    font-size: 20px;
    color: rgb(255, 255, 255);
    float: right;
}

.buttonAnadir:hover {
    background-color: #4b4b4b;
    color: white;
}

.navPrin{
    height: 7em;
}