<div class="container divContainer divColumnaDoble registrosListados">
  <h2 class="h2Ti">{{ titulo }}</h2>
  <table class="table table-bordered">

    <thead>
      <tr>
        <!--<th scope="col">#</th>-->
        <th scope="col">Cliente</th>
        <th scope="col">Equipo</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Problema</th>
        <th scope="col">Entregado</th>
        <th scope="col">Pagado</th>
      </tr>
    </thead>

    <tbody class="table-group-divider">
      <!--<tr *ngFor="let cit of cita">-->
        <tr>
        <td>Cliente 1</td>
        <td>Equipo 1</td>
        <td>Marca 1</td>
        <td>Modelo 1</td>
        <td>Problema 1</td>
        <td>Entregado 1</td>
        <td>Pagado 1</td>
        <td>
          <i class="fa-solid fa-square-info">I</i>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn buttonAnadir" routerLink="/edit-cita">Añadir</button>
</div>

<div class="container table divPendientes divColumnaDoble">
  <table>
    <tr>
      <td>
        <p class="pPendientes">Entregas pendientes:</p>
      </td>
      <td>
        <p>5</p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="pPendientes">Pagos pendientes:</p>
      </td>
      <td>
        <p>
          3
        </p>
      </td>
    </tr>
  </table>
</div>
