<div>
  <app-navbar></app-navbar>
  <div class="container divContainer">

    <div class="aTitulo">
      <a class="navbar-brand aTextTitulo">
        <img src="assets\img\equipos.png" width="115" height="85" />
        {{ titulo }}
      </a>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col">fecha recibido</th>
          <th scope="col">Descripción</th>
          <th scope="col">Entregado</th>
          <th scope="col">Reparado</th>
        </tr>
      </thead>

      <tbody class="table-group-divider">
        <tr *ngFor="let e of equipos">
          <td> {{ e.marca }} </td>
          <td> {{ e.modelo }} </td>
          <td> {{ e.fecha_recibido }} </td>
          <td> {{ e.detalle_problema }} </td>
          <td> {{ e.entregado }} </td>
          <td> {{ e.estado_reparacion }} </td>
          <td>
            
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn buttonAnadir" routerLink="/agregar-cita">Añadir</button>
  </div>

  <div class="container table divPendientes">
    <table>
      <tr>
        <td>
          <p class="pPendientes">Entregas pendientes:</p>
        </td>
        <td>
          <p>5</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="pPendientes">Pagos pendientes:</p>
        </td>
        <td>
          <p>3</p>
        </td>
      </tr>
    </table>
  </div>
</div>
